<div class="container">
  <h1>User Skills and Levels</h1>

  <div class="skills_table">
    <table>
    <tr class="header">
      <td>Name</td>
      <td>Skill</td>
      <td>Years</td>
      <td>Formal?</td>
    </tr>
    <% User.all.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td>
        <% user.skills.each do |skills|%>
        <%= skills.name %><br>
        <%end%>
      </td>
      <td><% user.proficiencies.each do |skills|%>
        <%= skills.years %><br>
        <%end%></td>
      <td><% user.proficiencies.each do |skills|%>
        <%= skills.formal %><br>
        <%end%></td>
    </tr>
    <% end %>
  </table>

  </div>

  <%# TODO: display the skills and proficiency levels for each user ... %>
</div>
